# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# Local environment files
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db

# IDEs / Editors
.fleet/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript cache
*.tsbuildinfo

# Vite cache
vite.config.ts.timestamp*
vite.config.js.timestamp*

# Mac trash
.Trashes

# Misc backups
*.swp
*.bak
*.tmp

# Nuxt serverless output (if deploying)
.serverless/
.aws-sam/
