@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $bp-sm) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media (max-width: $bp-md) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (max-width: $bp-lg) {
      @content;
    }
  }
}
